*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: pink;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.central-content{
    flex: 1;
    background-color: red;
}

.site-footer{
    background-color: white;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    margin: 0px 1rem;
}

.footer-content .first-column .footer-logo img{
    height: 50px;
    width: 150px;
    border-radius: 10px;
}

.second-column .footer-pages{
    display: flex;
    flex-direction: column;
}

.second-column .footer-pages a{
    text-decoration: none;
    margin: 3px;
    color: black;
}


.footer-contact-details p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-icons i{
    margin: 5px;
}

.copyright-content{
    text-align: center;
    margin: 0.5rem 0;
}

