*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: pink;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* header css */

.top-header .navbar{
    color: rgb(140, 138, 138);
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

.site-logo img{
    height: 50px;
    width: 150px;
}

.menu-items{
    display: flex;
    color: black;
    align-items: center;
}

.menu-items li{
    list-style-type: none;
    margin: 0px 15px 0px 15px;
}

.add-places-button{
    background-color: #782ED1;
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
}



/* middle part image and search section */

.central-content{
    flex: 1;
    background-color: rgb(255, 255, 255);
}

.central-content .search-section{
    background-color: #F1EFEF;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    flex-wrap: wrap;
}

.central-content .search-section .search-box-area{
    align-self: center;
}

.central-content .search-section .search-box-area h1{
    margin-left: 2rem;
}

.central-content .search-section .search-box-area .popular-location{
    padding-left: 2rem;
    font-size: 1.2rem;
}

.search-section .search-box-with-icon .search-box-input{
    height: 50px;
    width: 300px;
    border-radius: 30px;
    text-align: center;
    font-size: 1rem;
}

.search-section .search-box-with-icon{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.search-section .search-box-with-icon .search-icon{
    position: relative;
    left: 3rem;
}

.search-section .right-side-image img{
    height: 350px;
    width: 500px;
}

/* footer css */


.site-footer{
    background-color: rgb(255, 255, 255);
}

.footer-content{
    display: flex;
    justify-content: space-around;
    margin: 0px 1rem;
}

.footer-content .first-column .footer-logo img{
    height: 50px;
    width: 150px;
    border-radius: 10px;
}

.second-column .footer-pages{
    display: flex;
    flex-direction: column;
}

.second-column .footer-pages a{
    text-decoration: none;
    margin: 3px;
    color: black;
}


.footer-contact-details p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-icons i{
    margin: 5px;
}

.copyright-content{
    text-align: center;
    margin: 0.5rem 0;
}